#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.table-container {
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.table {
  min-width: 650px;
}

.table-header-cell {
  color: #fff !important;
  font-weight: bold;
  background-color: #000;
}

.table-cell {
  font-family: Roboto, sans-serif;
  font-weight: bold;
}

.current-operation {
  background-color: #d1f1e3;
}

